<!DOCTYPE html>
<html>
<head>
<title>Welcome to my ruby on rails projecy homepage</title>
</head>
<body>

<h1 style="color:blue;">This is the Alphablog"s About page</h1>
<p>Ruby on Rails</p>

  <%= link_to "Home", root_path %>


</body>
</html>